<div id="box">
<form method="POST" action="/issues" id="box2">

<!--- description of issue-->
<label for="description">Description</label>
<input type="text" name="name"/>

<!--- Tuition field -->
<label for="createdAt">Date</label>
<input type="date" name="date" id="datePicker"/>


<!--- this field shows the location of school-->
<label for="status">Status</label>
<input type="text" name="status"/>

<!--- priority issue or not-->
<label for="Priority">Priority Issue</label>
<input type="checkbox" name="priority"/>

<!--- create an issue button-->
<input type="submit" value="Create Issue"  id="button"/>
</form>
</div>